@import "variables.scss";

.archive_list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .single_project{
        background-color: $card_bg;
        display: grid;
        place-items: center;
        padding: 40px 30px;
        
        .inner{
            width: 100%;
            height: 100%;

            .logo{
                width: 100%;
                max-width: 300px;
                aspect-ratio: 16/8;
                display: block;
                margin-inline: auto;
                margin-bottom: 30px;

                @media (max-width: $md) {
                    max-width: 250px;
                    
                    @media (max-width: $sm) {
                        max-width: 180px;
                    }

                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .content{

                @media (max-width: $sm) {
                    text-align: center;
                }

                h3{
                    font-size: 20px;
                    margin-bottom: 10px;
                }

                p{
                    font-size: 14px;
                    color: $body_color_dark;
                }
            }
        }
    }
}