@import "variables.scss";

.container {
    max-width: $xl;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-inline: 15px;

    &:not(:last-child){
        margin-bottom: 150px;
    }
}