@import "variables.scss";

.experience_list {
    
    .single_experience{
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 50px;
        position: relative;

        @media (max-width: $sm) {
            grid-template-columns: 1fr;
            gap: 0;
        }

        &:not(:last-child){
            margin-bottom: 70px;
        }

        .year{
            background-color: $card_bg;
            display: grid;
            place-items: center;
            text-align: center;
            padding: 20px;

            @media (max-width: $sm) {
                max-width: 130px;
                background: transparent;
                padding: 0;
                position: absolute;
                top: 10px;
                right: 50px;
            }

            .year_num{
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 10px;
                font-weight: bold;
                font-variant-numeric: tabular-nums;

                @media (max-width: $sm) {
                    font-size: 80px;
                    opacity: .02;
                    display: flex;
                    align-items: center;
                }
            }

            .year_text{
                @media (max-width: $sm) {
                    display: none;
                }
            }
        }


        .experience{
            margin-top: 30px;

            .experience_upper{
                .experience_subtitle{
                    font-size: 14px;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    @media (max-width: $sm) {
                        font-size: 12px;
                    }
                }

                .experience_title{
                    font-size: 30px;
                    margin-bottom: 10px;
                    font-weight: bold;

                    @media (max-width: $sm) {
                        font-size: 20px;
                    }

                }
            }

            .experience_lower{
                margin-top: 30px;

                .experience_description{
                    background-color: $card_bg;
                    padding: 30px;
                    color: $body_color_dark;

                    @media (max-width: $sm) {
                        padding: 15px;
                    }
                }
            }
        }
    }
    
}