
$primary: #ff0000;
$secondary: #00ff00;
$bg: #0D0D0D;

$card_opacity: 0.5;
$card_bg_color: #121212;
$card_bg: rgba($card_bg_color, $card_opacity);
$card_padding: 20px;

$xl: 1400px;

$body_color_dark: #717171;
$body_color: #EBEBEB;